In [10]:
import pandas as pd
pyhapaivat=pd.DataFrame();
for vuosi in range(2014,2020):
    table=pd.read_html(f'https://www.webcal.fi/fi-FI/pyhat.php?y={vuosi}')
    pyhapaivat[str(vuosi)]=table[0]['Päivämäärä']
pyhapaivat

          2014        2015        2016        2017        2018        2019
0   01.01.2014  01.01.2015  01.01.2016  01.01.2017  01.01.2018  01.01.2019
1   06.01.2014  06.01.2015  06.01.2016  06.01.2017  06.01.2018  06.01.2019
2   02.02.2014  08.02.2015  31.01.2016  05.02.2017  04.02.2018  03.02.2019
3   02.03.2014  15.02.2015  07.02.2016  26.02.2017  11.02.2018  03.03.2019
4   23.03.2014  22.03.2015  13.03.2016  26.03.2017  18.03.2018  24.03.2019
5   13.04.2014  29.03.2015  20.03.2016  09.04.2017  25.03.2018  14.04.2019
6   18.04.2014  03.04.2015  25.03.2016  14.04.2017  30.03.2018  19.04.2019
7   20.04.2014  05.04.2015  27.03.2016  16.04.2017  01.04.2018  21.04.2019
8   21.04.2014  06.04.2015  28.03.2016  17.04.2017  02.04.2018  22.04.2019
9   01.05.2014  01.05.2015  01.05.2016  01.05.2017  01.05.2018  01.05.2019
10  18.05.2014  14.05.2015  05.05.2016  21.05.2017  10.05.2018  19.05.2019
11  29.05.2014  17.05.2015  15.05.2016  25.05.2017  20.05.2018  30.05.2019
12  08.06.2014  24.05.2015  15.05.2016  04.06.2017  20.05.2018  09.06.2019
13  15.06.2014  31.05.2015  22.05.2016  11.06.2017  27.05.2018  16.06.2019
14  21.06.2014  20.06.2015  25.06.2016  24.06.2017  23.06.2018  22.06.2019
15  20.07.2014  05.07.2015  26.06.2016  16.07.2017  01.07.2018  21.07.2019
16  03.08.2014  19.07.2015  10.07.2016  30.07.2017  15.07.2018  04.08.2019
17  05.10.2014  04.10.2015  02.10.2016  01.10.2017  30.09.2018  29.09.2019
18  01.11.2014  31.10.2015  05.11.2016  04.11.2017  03.11.2018  02.11.2019
19  23.11.2014  22.11.2015  20.11.2016  26.11.2017  25.11.2018  24.11.2019
20  06.12.2014  06.12.2015  06.12.2016  06.12.2017  06.12.2018  06.12.2019
21  25.12.2014  25.12.2015  25.12.2016  25.12.2017  25.12.2018  25.12.2019
22  26.12.2014  26.12.2015  26.12.2016  26.12.2017  26.12.2018  26.12.2019