# City Bikes

In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#
# read all files, file are from: https://www.hsl.fi/en/opendata under title: City bike trips and file name: od-trips-2019.zip
#
CityBikes_04 = pd.read_csv('2019-04.csv')
CityBikes_05 = pd.read_csv('2019-05.csv')
CityBikes_06 = pd.read_csv('2019-06.csv')
CityBikes_07 = pd.read_csv('2019-07.csv')
CityBikes_08 = pd.read_csv('2019-08.csv')
CityBikes_09 = pd.read_csv('2019-09.csv')
CityBikes_10 = pd.read_csv('2019-10.csv')

##### Print out all datasets

In [3]:
# print out dataset: 1.4.2019 - 30.4.2019
CityBikes_04

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2019-04-30T23:59:35,2019-05-01T00:00:36,43,Karhupuisto,43.0,Karhupuisto,2.0,57
1,2019-04-30T23:59:31,2019-05-01T00:09:00,140,Verkatehtaanpuisto,134.0,Haukilahdenkatu,2196.0,569
2,2019-04-30T23:59:25,2019-04-30T23:59:46,121,Vilhonvuorenkatu,121.0,Vilhonvuorenkatu,0.0,20
3,2019-04-30T23:59:21,2019-05-01T00:09:20,39,Ooppera,44.0,Sörnäisten metroasema,2121.0,596
4,2019-04-30T23:59:19,2019-05-01T00:18:12,57,Lauttasaaren ostoskeskus,63.0,Jätkäsaarenlaituri,2460.0,1127
...,...,...,...,...,...,...,...,...
406675,2019-04-01T06:12:01,2019-04-01T06:31:09,35,Cygnauksenkatu,128.0,Päijänteentie,0.0,1144
406676,2019-04-01T06:08:41,2019-04-01T06:14:24,26,Kampin metroasema,64.0,Tyynenmerenkatu,1611.0,339
406677,2019-04-01T06:04:00,2019-04-01T06:17:33,86,Kuusitie,114.0,Ratapihantie,2598.0,812
406678,2019-04-01T05:53:14,2019-04-01T05:56:26,85,Jalavatie,83.0,Meilahden sairaala,479.0,190
406679,2019-04-01T05:40:01,2019-04-01T05:51:05,60,Porkkalankatu,25.0,Narinkka,2293.0,659

In [4]:
# print out dataset: 1.5.2019 - 31.5.2019
CityBikes_05

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2019-05-31T23:59:59,2019-06-01T00:11:58,18,Porthania,43.0,Karhupuisto,1721.0,714
1,2019-05-31T23:59:58,2019-06-01T00:21:48,60,Porkkalankatu,529.0,Keilaniemi (M),5098.0,1306
2,2019-05-31T23:59:58,2019-06-01T00:30:34,643,Auringonkatu,719.0,Säteri,8807.0,1836
3,2019-05-31T23:59:42,2019-06-01T00:20:19,252,Humalniementie,256.0,Herttoniemen ranta,2362.0,1233
4,2019-05-31T23:59:39,2019-06-01T00:07:34,44,Sörnäisten metroasema,137.0,Arabian kauppakeskus,1890.0,462
...,...,...,...,...,...,...,...,...
599725,2019-05-01T00:00:37,2019-05-01T00:05:51,279,Puotinkylän kartano,278.0,Puotilantie,506.0,310
599726,2019-05-01T00:00:30,2019-05-01T00:19:38,70,Sammonpuistikko,13.0,Merisotilaantori,0.0,1144
599727,2019-05-01T00:00:29,2019-05-01T00:01:12,10,Kasarmitori,10.0,Kasarmitori,0.0,38
599728,2019-05-01T00:00:25,2019-05-01T00:09:07,19,Rautatientori / itä,149.0,Toinen linja,1794.0,517
599729,2019-05-01T00:00:17,2019-05-01T00:03:48,279,Puotinkylän kartano,278.0,Puotilantie,516.0,206

In [5]:
# print out dataset: 1.6.2019 - 30.6.2019
CityBikes_06

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2019-06-30T23:59:49,2019-07-01T00:11:39,51,Itälahdenkatu,60.0,Porkkalankatu,2229.0,706
1,2019-06-30T23:59:21,2019-07-01T00:01:17,118,Fleminginkatu,117.0,Brahen puistikko,289.0,112
2,2019-06-30T23:59:19,2019-07-01T00:36:33,54,Gyldenintie,17.0,Varsapuistikko,4872.0,2230
3,2019-06-30T23:59:05,2019-07-01T00:05:03,82,Töölöntulli,89.0,Tilkanvierto,1202.0,353
4,2019-06-30T23:59:00,2019-07-01T00:05:00,82,Töölöntulli,89.0,Tilkanvierto,1196.0,358
...,...,...,...,...,...,...,...,...
715222,2019-06-01T00:00:20,2019-06-01T00:00:40,14,Senaatintori,14.0,Senaatintori,0.0,18
715223,2019-06-01T00:00:16,2019-06-01T00:07:56,12,Kanavaranta,22.0,Rautatientori / länsi,1308.0,458
715224,2019-06-01T00:00:13,2019-06-01T00:07:03,259,Petter Wetterin tie,254.0,Agnetankuja,1419.0,405
715225,2019-06-01T00:00:08,2019-06-01T00:08:05,12,Kanavaranta,22.0,Rautatientori / länsi,1255.0,472
715226,2019-06-01T00:00:05,2019-06-01T00:07:19,557,Louhentori,541.0,"Aalto-yliopisto (M), Korkeakouluaukio",1768.0,428

In [6]:
# print out dataset: 1.7.2019 - 31.7.2019
CityBikes_07

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2019-07-31T23:59:56,2019-08-01T10:31:34,32,Eläinmuseo,211.0,Haagan tori,5211.0,37893
1,2019-07-31T23:59:55,2019-08-01T00:05:15,32,Eläinmuseo,36.0,Apollonkatu,939.0,315
2,2019-07-31T23:59:48,2019-08-01T00:04:53,101,Munkkivuoren ostoskeskus,100.0,Teljäntie,994.0,301
3,2019-07-31T23:59:42,2019-08-01T00:06:55,109,Hertanmäenkatu,142.0,Koskelantie,1827.0,428
4,2019-07-31T23:59:40,2019-08-01T00:07:26,118,Fleminginkatu,111.0,Esterinportti,1833.0,461
...,...,...,...,...,...,...,...,...
666357,2019-07-01T00:01:34,2019-07-01T00:05:49,259,Petter Wetterin tie,254.0,Agnetankuja,892.0,251
666358,2019-07-01T00:01:11,2019-07-01T00:20:26,49,Annankatu,105.0,Tilkantori,5881.0,1155
666359,2019-07-01T00:01:11,2019-07-01T00:32:38,43,Karhupuisto,144.0,Käpyläntie,4561.0,1883
666360,2019-07-01T00:00:42,2019-07-01T00:23:17,209,Takomotie,215.0,Pitäjänmäen asema,1956.0,1351
666361,2019-07-01T00:00:34,2019-07-01T00:16:52,8,Vanha kirkkopuisto,41.0,Ympyrätalo,3385.0,973

In [7]:
# print out dataset: 1.8.2019 - 31.8.2019
CityBikes_08

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2019-08-31T23:59:56,2019-09-01T00:10:39,86,Kuusitie,116.0,Linnanmäki,2423.0,639
1,2019-08-31T23:59:53,2019-09-01T00:04:26,69,Kalevankatu,4.0,Viiskulma,900.0,269
2,2019-08-31T23:59:52,2019-09-01T00:17:24,39,Ooppera,69.0,Kalevankatu,2423.0,1052
3,2019-08-31T23:59:50,2019-09-01T00:04:47,239,Viikin tiedepuisto,237.0,Aulangontie,829.0,294
4,2019-08-31T23:59:41,2019-09-01T00:08:27,22,Rautatientori / länsi,49.0,Annankatu,1061.0,522
...,...,...,...,...,...,...,...,...
689506,2019-08-01T00:00:31,2019-08-01T00:01:23,19,Rautatientori / itä,19.0,Rautatientori / itä,4.0,47
689507,2019-08-01T00:00:25,2019-08-01T00:19:32,141,Intiankatu,150.0,Töölönlahden puisto,4390.0,1143
689508,2019-08-01T00:00:06,2019-08-01T00:06:21,44,Sörnäinen (M),125.0,Arielinkatu,1400.0,371
689509,2019-08-01T00:00:04,2019-08-01T00:05:26,262,Siilitie (M),264.0,Eränkävijäntori,847.0,317
689510,2019-08-01T00:00:03,2019-08-01T00:06:19,16,Liisanpuistikko,20.0,Kaisaniemenpuisto,1556.0,372

In [8]:
# print out dataset: 1.9.2019 - 30.9.2019
CityBikes_09

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2019-09-30T23:59:29,2019-10-01T00:10:02,7,Designmuseo,64.0,Tyynenmerenkatu,2250.0,628
1,2019-09-30T23:59:11,2019-10-01T00:07:37,111,Esterinportti,86.0,Kuusitie,1749.0,501
2,2019-09-30T23:54:58,2019-09-30T23:59:22,161,Eteläesplanadi,24.0,Mannerheimintie,535.0,260
3,2019-09-30T23:51:09,2019-09-30T23:58:59,517,Länsituuli,900.0,Orionintie,2140.0,466
4,2019-09-30T23:50:09,2019-10-01T00:13:52,115,Venttiilikuja,12.0,Kanavaranta,4792.0,1422
...,...,...,...,...,...,...,...,...
450051,2019-09-01T00:00:41,2019-09-01T00:06:59,161,Eteläesplanadi,33.0,Kauppakorkeakoulu,1413.0,374
450052,2019-09-01T00:00:32,2019-09-01T00:25:59,90,Paciuksenkaari,132.0,Hollolantie,4298.0,1522
450053,2019-09-01T00:00:28,2019-09-01T00:13:53,161,Eteläesplanadi,64.0,Tyynenmerenkatu,2205.0,801
450054,2019-09-01T00:00:06,2019-09-01T00:11:55,22,Rautatientori / länsi,122.0,Lintulahdenkatu,2389.0,705
450055,2019-09-01T00:00:01,2019-09-01T00:17:54,39,Ooppera,69.0,Kalevankatu,2221.0,1069

In [9]:
# print out dataset: 1.10.2019 - 31.10.2019
CityBikes_10

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2019-10-31T23:59:36,2019-11-01T00:11:00,22,Rautatientori / länsi,75.0,Korjaamo,2270.0,681
1,2019-10-31T23:58:23,2019-11-01T00:22:32,260,Herttoniemi (M),239.0,Viikin tiedepuisto,4516.0,1446
2,2019-10-31T23:54:55,2019-10-31T23:58:28,82,Töölöntulli,78.0,Messeniuksenkatu,471.0,209
3,2019-10-31T23:54:46,2019-10-31T23:58:13,82,Töölöntulli,78.0,Messeniuksenkatu,489.0,205
4,2019-10-31T23:54:42,2019-11-01T00:29:17,21,Töölönlahdenkatu,7.0,Designmuseo,2460.0,2072
...,...,...,...,...,...,...,...,...
260377,2019-10-01T00:02:05,2019-10-01T00:14:47,291,Itäkeskus Metrovarikko,258.0,Abraham Wetterin tie,3168.0,761
260378,2019-10-01T00:01:12,2019-10-01T00:10:14,511,Sateentie,559.0,Pohjankulma,1852.0,538
260379,2019-10-01T00:01:08,2019-10-01T00:16:26,43,Karhupuisto,85.0,Jalavatie,3477.0,916
260380,2019-10-01T00:00:17,2019-10-01T00:12:58,41,Ympyrätalo,30.0,Itämerentori,3531.0,760
260381,2019-10-01T00:00:05,2019-10-01T00:07:52,900,Orionintie,581.0,Niittykumpu (M),1468.0,463

In [10]:
#
# Change date and time to datatime type
#
# dataset: CityBikes_04
CityBikes_04.Departure = pd.to_datetime(CityBikes_04.Departure, format='%Y %m %dT%H:%M:%S', errors='coerce')
CityBikes_04.Return = pd.to_datetime(CityBikes_04.Return, format='%Y-%m-%dT%H:%M:%S', errors='coerce')

# dataset: CityBikes_05
CityBikes_05.Departure = pd.to_datetime(CityBikes_05.Departure, format='%Y %m %dT%H:%M:%S', errors='coerce')
CityBikes_05.Return = pd.to_datetime(CityBikes_05.Return, format='%Y-%m-%dT%H:%M:%S', errors='coerce')

# dataset: CityBikes_06
CityBikes_06.Departure = pd.to_datetime(CityBikes_06.Departure, format='%Y %m %dT%H:%M:%S', errors='coerce')
CityBikes_06.Return = pd.to_datetime(CityBikes_06.Return, format='%Y-%m-%dT%H:%M:%S', errors='coerce')

# dataset: CityBikes_07
CityBikes_07.Departure = pd.to_datetime(CityBikes_07.Departure, format='%Y %m %dT%H:%M:%S', errors='coerce')
CityBikes_07.Return = pd.to_datetime(CityBikes_07.Return, format='%Y-%m-%dT%H:%M:%S', errors='coerce')

# dataset: CityBikes_08
CityBikes_08.Departure = pd.to_datetime(CityBikes_08.Departure, format='%Y %m %dT%H:%M:%S', errors='coerce')
CityBikes_08.Return = pd.to_datetime(CityBikes_08.Return, format='%Y-%m-%dT%H:%M:%S', errors='coerce')

# dataset: CityBikes_09
CityBikes_09.Departure = pd.to_datetime(CityBikes_09.Departure, format='%Y %m %dT%H:%M:%S', errors='coerce')
CityBikes_09.Return = pd.to_datetime(CityBikes_09.Return, format='%Y-%m-%dT%H:%M:%S', errors='coerce')

# dataset: CityBikes_10
CityBikes_10.Departure = pd.to_datetime(CityBikes_10.Departure, format='%Y %m %dT%H:%M:%S', errors='coerce')
CityBikes_10.Return = pd.to_datetime(CityBikes_10.Return, format='%Y-%m-%dT%H:%M:%S', errors='coerce')

In [11]:
CityBikes_04

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2019-04-30 23:59:35,2019-05-01 00:00:36,43,Karhupuisto,43.0,Karhupuisto,2.0,57
1,2019-04-30 23:59:31,2019-05-01 00:09:00,140,Verkatehtaanpuisto,134.0,Haukilahdenkatu,2196.0,569
2,2019-04-30 23:59:25,2019-04-30 23:59:46,121,Vilhonvuorenkatu,121.0,Vilhonvuorenkatu,0.0,20
3,2019-04-30 23:59:21,2019-05-01 00:09:20,39,Ooppera,44.0,Sörnäisten metroasema,2121.0,596
4,2019-04-30 23:59:19,2019-05-01 00:18:12,57,Lauttasaaren ostoskeskus,63.0,Jätkäsaarenlaituri,2460.0,1127
...,...,...,...,...,...,...,...,...
406675,2019-04-01 06:12:01,2019-04-01 06:31:09,35,Cygnauksenkatu,128.0,Päijänteentie,0.0,1144
406676,2019-04-01 06:08:41,2019-04-01 06:14:24,26,Kampin metroasema,64.0,Tyynenmerenkatu,1611.0,339
406677,2019-04-01 06:04:00,2019-04-01 06:17:33,86,Kuusitie,114.0,Ratapihantie,2598.0,812
406678,2019-04-01 05:53:14,2019-04-01 05:56:26,85,Jalavatie,83.0,Meilahden sairaala,479.0,190
406679,2019-04-01 05:40:01,2019-04-01 05:51:05,60,Porkkalankatu,25.0,Narinkka,2293.0,659

In [12]:
CityBikes_05

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2019-05-31 23:59:59,2019-06-01 00:11:58,18,Porthania,43.0,Karhupuisto,1721.0,714
1,2019-05-31 23:59:58,2019-06-01 00:21:48,60,Porkkalankatu,529.0,Keilaniemi (M),5098.0,1306
2,2019-05-31 23:59:58,2019-06-01 00:30:34,643,Auringonkatu,719.0,Säteri,8807.0,1836
3,2019-05-31 23:59:42,2019-06-01 00:20:19,252,Humalniementie,256.0,Herttoniemen ranta,2362.0,1233
4,2019-05-31 23:59:39,2019-06-01 00:07:34,44,Sörnäisten metroasema,137.0,Arabian kauppakeskus,1890.0,462
...,...,...,...,...,...,...,...,...
599725,2019-05-01 00:00:37,2019-05-01 00:05:51,279,Puotinkylän kartano,278.0,Puotilantie,506.0,310
599726,2019-05-01 00:00:30,2019-05-01 00:19:38,70,Sammonpuistikko,13.0,Merisotilaantori,0.0,1144
599727,2019-05-01 00:00:29,2019-05-01 00:01:12,10,Kasarmitori,10.0,Kasarmitori,0.0,38
599728,2019-05-01 00:00:25,2019-05-01 00:09:07,19,Rautatientori / itä,149.0,Toinen linja,1794.0,517
599729,2019-05-01 00:00:17,2019-05-01 00:03:48,279,Puotinkylän kartano,278.0,Puotilantie,516.0,206

In [13]:
CityBikes_06

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2019-06-30 23:59:49,2019-07-01 00:11:39,51,Itälahdenkatu,60.0,Porkkalankatu,2229.0,706
1,2019-06-30 23:59:21,2019-07-01 00:01:17,118,Fleminginkatu,117.0,Brahen puistikko,289.0,112
2,2019-06-30 23:59:19,2019-07-01 00:36:33,54,Gyldenintie,17.0,Varsapuistikko,4872.0,2230
3,2019-06-30 23:59:05,2019-07-01 00:05:03,82,Töölöntulli,89.0,Tilkanvierto,1202.0,353
4,2019-06-30 23:59:00,2019-07-01 00:05:00,82,Töölöntulli,89.0,Tilkanvierto,1196.0,358
...,...,...,...,...,...,...,...,...
715222,2019-06-01 00:00:20,2019-06-01 00:00:40,14,Senaatintori,14.0,Senaatintori,0.0,18
715223,2019-06-01 00:00:16,2019-06-01 00:07:56,12,Kanavaranta,22.0,Rautatientori / länsi,1308.0,458
715224,2019-06-01 00:00:13,2019-06-01 00:07:03,259,Petter Wetterin tie,254.0,Agnetankuja,1419.0,405
715225,2019-06-01 00:00:08,2019-06-01 00:08:05,12,Kanavaranta,22.0,Rautatientori / länsi,1255.0,472
715226,2019-06-01 00:00:05,2019-06-01 00:07:19,557,Louhentori,541.0,"Aalto-yliopisto (M), Korkeakouluaukio",1768.0,428

In [14]:
CityBikes_07

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2019-07-31 23:59:56,2019-08-01 10:31:34,32,Eläinmuseo,211.0,Haagan tori,5211.0,37893
1,2019-07-31 23:59:55,2019-08-01 00:05:15,32,Eläinmuseo,36.0,Apollonkatu,939.0,315
2,2019-07-31 23:59:48,2019-08-01 00:04:53,101,Munkkivuoren ostoskeskus,100.0,Teljäntie,994.0,301
3,2019-07-31 23:59:42,2019-08-01 00:06:55,109,Hertanmäenkatu,142.0,Koskelantie,1827.0,428
4,2019-07-31 23:59:40,2019-08-01 00:07:26,118,Fleminginkatu,111.0,Esterinportti,1833.0,461
...,...,...,...,...,...,...,...,...
666357,2019-07-01 00:01:34,2019-07-01 00:05:49,259,Petter Wetterin tie,254.0,Agnetankuja,892.0,251
666358,2019-07-01 00:01:11,2019-07-01 00:20:26,49,Annankatu,105.0,Tilkantori,5881.0,1155
666359,2019-07-01 00:01:11,2019-07-01 00:32:38,43,Karhupuisto,144.0,Käpyläntie,4561.0,1883
666360,2019-07-01 00:00:42,2019-07-01 00:23:17,209,Takomotie,215.0,Pitäjänmäen asema,1956.0,1351
666361,2019-07-01 00:00:34,2019-07-01 00:16:52,8,Vanha kirkkopuisto,41.0,Ympyrätalo,3385.0,973

In [15]:
CityBikes_08

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2019-08-31 23:59:56,2019-09-01 00:10:39,86,Kuusitie,116.0,Linnanmäki,2423.0,639
1,2019-08-31 23:59:53,2019-09-01 00:04:26,69,Kalevankatu,4.0,Viiskulma,900.0,269
2,2019-08-31 23:59:52,2019-09-01 00:17:24,39,Ooppera,69.0,Kalevankatu,2423.0,1052
3,2019-08-31 23:59:50,2019-09-01 00:04:47,239,Viikin tiedepuisto,237.0,Aulangontie,829.0,294
4,2019-08-31 23:59:41,2019-09-01 00:08:27,22,Rautatientori / länsi,49.0,Annankatu,1061.0,522
...,...,...,...,...,...,...,...,...
689506,2019-08-01 00:00:31,2019-08-01 00:01:23,19,Rautatientori / itä,19.0,Rautatientori / itä,4.0,47
689507,2019-08-01 00:00:25,2019-08-01 00:19:32,141,Intiankatu,150.0,Töölönlahden puisto,4390.0,1143
689508,2019-08-01 00:00:06,2019-08-01 00:06:21,44,Sörnäinen (M),125.0,Arielinkatu,1400.0,371
689509,2019-08-01 00:00:04,2019-08-01 00:05:26,262,Siilitie (M),264.0,Eränkävijäntori,847.0,317
689510,2019-08-01 00:00:03,2019-08-01 00:06:19,16,Liisanpuistikko,20.0,Kaisaniemenpuisto,1556.0,372

In [16]:
CityBikes_09

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2019-09-30 23:59:29,2019-10-01 00:10:02,7,Designmuseo,64.0,Tyynenmerenkatu,2250.0,628
1,2019-09-30 23:59:11,2019-10-01 00:07:37,111,Esterinportti,86.0,Kuusitie,1749.0,501
2,2019-09-30 23:54:58,2019-09-30 23:59:22,161,Eteläesplanadi,24.0,Mannerheimintie,535.0,260
3,2019-09-30 23:51:09,2019-09-30 23:58:59,517,Länsituuli,900.0,Orionintie,2140.0,466
4,2019-09-30 23:50:09,2019-10-01 00:13:52,115,Venttiilikuja,12.0,Kanavaranta,4792.0,1422
...,...,...,...,...,...,...,...,...
450051,2019-09-01 00:00:41,2019-09-01 00:06:59,161,Eteläesplanadi,33.0,Kauppakorkeakoulu,1413.0,374
450052,2019-09-01 00:00:32,2019-09-01 00:25:59,90,Paciuksenkaari,132.0,Hollolantie,4298.0,1522
450053,2019-09-01 00:00:28,2019-09-01 00:13:53,161,Eteläesplanadi,64.0,Tyynenmerenkatu,2205.0,801
450054,2019-09-01 00:00:06,2019-09-01 00:11:55,22,Rautatientori / länsi,122.0,Lintulahdenkatu,2389.0,705
450055,2019-09-01 00:00:01,2019-09-01 00:17:54,39,Ooppera,69.0,Kalevankatu,2221.0,1069

In [17]:
CityBikes_10

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2019-10-31 23:59:36,2019-11-01 00:11:00,22,Rautatientori / länsi,75.0,Korjaamo,2270.0,681
1,2019-10-31 23:58:23,2019-11-01 00:22:32,260,Herttoniemi (M),239.0,Viikin tiedepuisto,4516.0,1446
2,2019-10-31 23:54:55,2019-10-31 23:58:28,82,Töölöntulli,78.0,Messeniuksenkatu,471.0,209
3,2019-10-31 23:54:46,2019-10-31 23:58:13,82,Töölöntulli,78.0,Messeniuksenkatu,489.0,205
4,2019-10-31 23:54:42,2019-11-01 00:29:17,21,Töölönlahdenkatu,7.0,Designmuseo,2460.0,2072
...,...,...,...,...,...,...,...,...
260377,2019-10-01 00:02:05,2019-10-01 00:14:47,291,Itäkeskus Metrovarikko,258.0,Abraham Wetterin tie,3168.0,761
260378,2019-10-01 00:01:12,2019-10-01 00:10:14,511,Sateentie,559.0,Pohjankulma,1852.0,538
260379,2019-10-01 00:01:08,2019-10-01 00:16:26,43,Karhupuisto,85.0,Jalavatie,3477.0,916
260380,2019-10-01 00:00:17,2019-10-01 00:12:58,41,Ympyrätalo,30.0,Itämerentori,3531.0,760
260381,2019-10-01 00:00:05,2019-10-01 00:07:52,900,Orionintie,581.0,Niittykumpu (M),1468.0,463

## Merge datasets together

In [18]:
# lets merge case_new and case_death
frames = [CityBikes_04, CityBikes_05, CityBikes_06, CityBikes_07, CityBikes_08, CityBikes_09, CityBikes_10]
CityBike_all = pd.concat(frames)
CityBike_all

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2019-04-30 23:59:35,2019-05-01 00:00:36,43,Karhupuisto,43.0,Karhupuisto,2.0,57
1,2019-04-30 23:59:31,2019-05-01 00:09:00,140,Verkatehtaanpuisto,134.0,Haukilahdenkatu,2196.0,569
2,2019-04-30 23:59:25,2019-04-30 23:59:46,121,Vilhonvuorenkatu,121.0,Vilhonvuorenkatu,0.0,20
3,2019-04-30 23:59:21,2019-05-01 00:09:20,39,Ooppera,44.0,Sörnäisten metroasema,2121.0,596
4,2019-04-30 23:59:19,2019-05-01 00:18:12,57,Lauttasaaren ostoskeskus,63.0,Jätkäsaarenlaituri,2460.0,1127
...,...,...,...,...,...,...,...,...
260377,2019-10-01 00:02:05,2019-10-01 00:14:47,291,Itäkeskus Metrovarikko,258.0,Abraham Wetterin tie,3168.0,761
260378,2019-10-01 00:01:12,2019-10-01 00:10:14,511,Sateentie,559.0,Pohjankulma,1852.0,538
260379,2019-10-01 00:01:08,2019-10-01 00:16:26,43,Karhupuisto,85.0,Jalavatie,3477.0,916
260380,2019-10-01 00:00:17,2019-10-01 00:12:58,41,Ympyrätalo,30.0,Itämerentori,3531.0,760
260381,2019-10-01 00:00:05,2019-10-01 00:07:52,900,Orionintie,581.0,Niittykumpu (M),1468.0,463

### from this onwards it is up to you if you want to use these

In [19]:
# split date and time to two different columns, this command change value to string
CityBike_all.insert(1, 'Departure, time', CityBike_all.Departure.dt.strftime('%H:%M'))
CityBike_all.Departure = CityBike_all.Departure.dt.strftime('%Y-%m-%d')

In [20]:
# split date and time to two different columns, this command change value to string
CityBike_all.insert(3, 'Return, time', CityBike_all.Return.dt.strftime('%H:%M'))
CityBike_all.Return = CityBike_all.Return.dt.strftime('%Y-%m-%d')

In [21]:
CityBike_all

,Departure,"Departure, time",Return,"Return, time",Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2019-04-30,23:59,2019-05-01,00:00,43,Karhupuisto,43.0,Karhupuisto,2.0,57
1,2019-04-30,23:59,2019-05-01,00:09,140,Verkatehtaanpuisto,134.0,Haukilahdenkatu,2196.0,569
2,2019-04-30,23:59,2019-04-30,23:59,121,Vilhonvuorenkatu,121.0,Vilhonvuorenkatu,0.0,20
3,2019-04-30,23:59,2019-05-01,00:09,39,Ooppera,44.0,Sörnäisten metroasema,2121.0,596
4,2019-04-30,23:59,2019-05-01,00:18,57,Lauttasaaren ostoskeskus,63.0,Jätkäsaarenlaituri,2460.0,1127
...,...,...,...,...,...,...,...,...,...,...
260377,2019-10-01,00:02,2019-10-01,00:14,291,Itäkeskus Metrovarikko,258.0,Abraham Wetterin tie,3168.0,761
260378,2019-10-01,00:01,2019-10-01,00:10,511,Sateentie,559.0,Pohjankulma,1852.0,538
260379,2019-10-01,00:01,2019-10-01,00:16,43,Karhupuisto,85.0,Jalavatie,3477.0,916
260380,2019-10-01,00:00,2019-10-01,00:12,41,Ympyrätalo,30.0,Itämerentori,3531.0,760
260381,2019-10-01,00:00,2019-10-01,00:07,900,Orionintie,581.0,Niittykumpu (M),1468.0,463