# Vantaa part of cyclists

In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
VANTAA_bikers = pd.read_excel('Vantaan_pyorailijamaarat.xlsx')
# VANTAA_bikers_apu = pd.read_excel('Vantaan_pyorailijamaarat.xlsx')
VANTAA_bikestation = pd.read_excel('Vantaa_pyoralaskentapisteiden_sijainnit.xlsx')

In [3]:
# VANTAA_bikers = VANTAA_bikers_apu

In [4]:
VANTAA_bikers

,Päivämäärä,Asolanväylä P,Asolanväylä E,Hakunilantie P,Hakunilantie E,Kyytitie I,Kyytitie L,Kaislaranta P,Kaislaranta E,Kuusijärvi P,...,Simonkyläntie P,Simonkyläntie E,Solkikuja I,Solkikuja L,Vanha Porvoontie P,Vanha Porvoontie E,Vantaanlaaksontie P,Vantaanlaaksontie E,Ylästöntie I,Ylästöntie L
0,torstai 1.1.2015 0:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,torstai 1.1.2015 1:00,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,torstai 1.1.2015 2:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,torstai 1.1.2015 3:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,torstai 1.1.2015 4:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17539,lauantai 31.12.2016 19:00,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17540,lauantai 31.12.2016 20:00,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17541,lauantai 31.12.2016 21:00,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17542,lauantai 31.12.2016 22:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17543,lauantai 31.12.2016 23:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
VANTAA_bikers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17544 entries, 0 to 17543
Data columns (total 25 columns):
Päivämäärä             17544 non-null object
Asolanväylä P          3581 non-null float64
Asolanväylä E          2957 non-null float64
Hakunilantie P         3687 non-null float64
Hakunilantie E         3355 non-null float64
Kyytitie I             4272 non-null float64
Kyytitie L             4272 non-null float64
Kaislaranta P          12606 non-null float64
Kaislaranta E          12371 non-null float64
Kuusijärvi P           1496 non-null float64
Kuusijärvi E           3877 non-null float64
Kytöpuisto P           12381 non-null float64
Kytöpuisto E           12381 non-null float64
Pellas I               2828 non-null float64
Pellas L               2828 non-null float64
Simonkyläntie P        3538 non-null float64
Simonkyläntie E        3538 non-null float64
Solkikuja I            3623 non-null float64
Solkikuja L            3623 non-null float64
Vanha Porvoontie P     3586 non-null float64
Vanha Porvoontie E     3586 non-null float64
Vantaanlaaksontie P    2917 non-null float64
Vantaanlaaksontie E    2917 non-null float64
Ylästöntie I           3247 non-null float64
Ylästöntie L           3247 non-null float64
dtypes: float64(24), object(1)
memory usage: 3.3+ MB

In [6]:
# rename columns' column names, change ä -> a and ö -> o
VANTAA_bikers = VANTAA_bikers.rename({'Päivämäärä': 'Date_tmp', 'Asolanväylä P': 'Asolanvayla P', 'Asolanväylä E': 'Asolanvayla E'}, axis=1)
VANTAA_bikers = VANTAA_bikers.rename({'Kuusijärvi P': 'Kuusijarvi P', 'Kuusijärvi E': 'Kuusijarvi E', 'Kytöpuisto P': 'Kytopuisto P', 'Ylästöntie I':'Ylastontie I'}, axis=1)
VANTAA_bikers = VANTAA_bikers.rename({'Ylästöntie L': 'Ylastontie L', 'Simonkyläntie P':'Simonkylantie P', 'Simonkyläntie E':'Simonkylantie E'}, axis=1)
VANTAA_bikers

,Date_tmp,Asolanvayla P,Asolanvayla E,Hakunilantie P,Hakunilantie E,Kyytitie I,Kyytitie L,Kaislaranta P,Kaislaranta E,Kuusijarvi P,...,Simonkylantie P,Simonkylantie E,Solkikuja I,Solkikuja L,Vanha Porvoontie P,Vanha Porvoontie E,Vantaanlaaksontie P,Vantaanlaaksontie E,Ylastontie I,Ylastontie L
0,torstai 1.1.2015 0:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,torstai 1.1.2015 1:00,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,torstai 1.1.2015 2:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,torstai 1.1.2015 3:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,torstai 1.1.2015 4:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17539,lauantai 31.12.2016 19:00,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17540,lauantai 31.12.2016 20:00,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17541,lauantai 31.12.2016 21:00,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17542,lauantai 31.12.2016 22:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17543,lauantai 31.12.2016 23:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#
# replace finnish word with english words due to datetime convertion
#
VANTAA_bikers['Date_tmp'] = VANTAA_bikers.Date_tmp.str.replace('maanantai', 'Mon')
VANTAA_bikers['Date_tmp'] = VANTAA_bikers.Date_tmp.str.replace('tiistai', 'Tue')
VANTAA_bikers['Date_tmp'] = VANTAA_bikers.Date_tmp.str.replace('keskiviikko', 'Wed')
VANTAA_bikers['Date_tmp'] = VANTAA_bikers.Date_tmp.str.replace('torstai', 'Thu')
VANTAA_bikers['Date_tmp'] = VANTAA_bikers.Date_tmp.str.replace('perjantai', 'Fri')
VANTAA_bikers['Date_tmp'] = VANTAA_bikers.Date_tmp.str.replace('lauantai', 'Sat')
VANTAA_bikers['Date_tmp'] = VANTAA_bikers.Date_tmp.str.replace('sunnuntai', 'Sun')
# print put result
VANTAA_bikers

,Date_tmp,Asolanvayla P,Asolanvayla E,Hakunilantie P,Hakunilantie E,Kyytitie I,Kyytitie L,Kaislaranta P,Kaislaranta E,Kuusijarvi P,...,Simonkylantie P,Simonkylantie E,Solkikuja I,Solkikuja L,Vanha Porvoontie P,Vanha Porvoontie E,Vantaanlaaksontie P,Vantaanlaaksontie E,Ylastontie I,Ylastontie L
0,Thu 1.1.2015 0:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Thu 1.1.2015 1:00,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Thu 1.1.2015 2:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Thu 1.1.2015 3:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Thu 1.1.2015 4:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17539,Sat 31.12.2016 19:00,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17540,Sat 31.12.2016 20:00,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17541,Sat 31.12.2016 21:00,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17542,Sat 31.12.2016 22:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17543,Sat 31.12.2016 23:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#
# here is weekday and datetime split to each own columns
#
weekday = VANTAA_bikers["Date_tmp"].str.split(" ", n = 1, expand = True)
VANTAA_bikers.insert(0, 'Weekday', weekday[0])
VANTAA_bikers.insert(1, 'Date', weekday[1])
VANTAA_bikers = VANTAA_bikers.drop(['Date_tmp'], axis=1)
# Change date and time to datetime type
VANTAA_bikers.Date = pd.to_datetime(VANTAA_bikers.Date, format='%d.%m.%Y %H:%M', errors='coerce')
VANTAA_bikers

,Weekday,Date,Asolanvayla P,Asolanvayla E,Hakunilantie P,Hakunilantie E,Kyytitie I,Kyytitie L,Kaislaranta P,Kaislaranta E,...,Simonkylantie P,Simonkylantie E,Solkikuja I,Solkikuja L,Vanha Porvoontie P,Vanha Porvoontie E,Vantaanlaaksontie P,Vantaanlaaksontie E,Ylastontie I,Ylastontie L
0,Thu,2015-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Thu,2015-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Thu,2015-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Thu,2015-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Thu,2015-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17539,Sat,2016-12-31 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17540,Sat,2016-12-31 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17541,Sat,2016-12-31 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17542,Sat,2016-12-31 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17543,Sat,2016-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# split date and time to two different columns, this command change value to string
VANTAA_bikers.insert(2, 'Time', VANTAA_bikers.Date.dt.strftime('%H:%M:%S'))
VANTAA_bikers.Date = VANTAA_bikers.Date.dt.strftime('%Y-%m-%d')
# change date back datetime -value
VANTAA_bikers.Date = pd.to_datetime(VANTAA_bikers.Date, format='%Y-%m-%d', errors='coerce')
VANTAA_bikers

,Weekday,Date,Time,Asolanvayla P,Asolanvayla E,Hakunilantie P,Hakunilantie E,Kyytitie I,Kyytitie L,Kaislaranta P,...,Simonkylantie P,Simonkylantie E,Solkikuja I,Solkikuja L,Vanha Porvoontie P,Vanha Porvoontie E,Vantaanlaaksontie P,Vantaanlaaksontie E,Ylastontie I,Ylastontie L
0,Thu,2015-01-01,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Thu,2015-01-01,01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Thu,2015-01-01,02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Thu,2015-01-01,03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Thu,2015-01-01,04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17539,Sat,2016-12-31,19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17540,Sat,2016-12-31,20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17541,Sat,2016-12-31,21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17542,Sat,2016-12-31,22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17543,Sat,2016-12-31,23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### write cleaned data into excel csv file

In [10]:
VANTAA_bikers.to_csv(r'C:\Users\katar\Documents\Tyovoimakoulutus\Python_FEC_2020\FinalProject\CityBikes\VantaaBikers_cleanDataset.csv', index = False)